$bg-color: #464f52;
$blue: #4bc1ed;
$light-blue: #8fe0fe;
$dark-gray: #383f42;
$light-gray: #556166;
$red: #F4726E;


body{
	background-color: $bg-color;
	font-size: 16px;
}

a:hover{
	transition: 0.25s;
}

h1, h2, h3, h4, p, a{
	color: white !important;
	width: auto;
}

.navbar{
	height: 80px;
	background-color: $dark-gray;
}
	.navbar li > a{
		height: 80px;
		line-height: 30px !important;
		padding: 25px 30px !important;
		color: white;
		font-size: 16px;
	}

	.navbar li > a:hover{
		background-color: $blue !important;
		color: white;
	}

.btn{
	background-color: $blue;
	border-radius: 0 !important;
	border: none !important;
	height: 60px;
	width: auto;
	padding: 20px 30px;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 20px;
}
	.btn:hover{
		background-color: $light-blue;
	}

.alert{
	border-radius: 0 !important;
	border: none !important;
	padding: 20px;
}
	.alert.alert-danger{
		background-color: $red;
		color: white;
	}

.bg-image{
	position:absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width:100%;
	background-image: url('/img/home-image.jpg');
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.login{
	background-color: $light-gray;
	padding:40px;
}
.sk-logo{
	width: 185px;
	height: 30px;
	display: block;
	position: relative;
	margin: 30px;
	background-image: url('../img/sk-logo-white.png');
	background-repeat: no-repeat;
	background-size: 185px;
}

.page-title{
	margin-bottom: 20px;
	float:left;
}
	.page-title h3{
		margin: 0;
		padding: 0;
		height: 40px;
		line-height: 40px;
		display: block;
		float:left;
	}


.fluid-list{
	
}
	.fluid-list li{
		list-style-type: none;
		height: 60px;
		padding: 20px 0;
		margin-bottom: 2px;
		background-color: $light-gray;
		line-height: 20px;
	}
		.fluid-list li:hover{
			background-color: $dark-gray;
			transition: 0.25s;
		}
	.fluid-list li.heading,
	.fluid-list li.heading:hover{
		background-color: transparent;
		color: white;
		font-weight: 700; 
	}

.container{
	width: 1200px !important;
}

.ranking-input{
	width: 100%;
	height: auto;
	padding: 40px;
	background-color: $light-gray;
	display: block;
	margin-bottom: 20px;
}

.containment-wrapper{
	width:100%;
	height: 542px;
	border-bottom: 2px solid white;
	display: block;
}
.containment-wrapper .draggable-image{
	width: 180px;
	height: 130px;
	display: block;
	margin-bottom: 5px;
	cursor: move;
}
.input{
	margin-bottom: 20px !important;
}

.input input{
	height: 40px;
	border-radius: 0 !important;
	border: none;
	background-color: white;
	padding: 10px 20px;
	font-size: 18px;
}
.input select{
	border-radius: 0 !important;
	border: none;
}
.input label{
	color: white;
	font-weight: 300;
}

.project-number{
	background-color: $dark-gray;
	padding: 10px;
	margin-right: 20px;
	display: block;
	color: white;
}
.project-details{
	background-color: $dark-gray;
	padding: 10px;
	margin-left: 20px;
	display: block;
	color: white;
}



@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
	.sk-logo{
		background-image: url('../img/sk-logo-white-retina.png');
	}
}